main,header,footer,div{
	border:1px solid black;
	padding:4px;

}
body{
	margin: 0;
	padding: 0;
	font-family: 'Comic Sans Ms';
}
*{
	box-sizing:border-box;
}
div{
 
	float:left;
       height:10vh;
       width:15vh;
}
footer{
	height: 8vh;
	clear:both;
}
#h1{
	width:60%;
	float:left;
	height: 8vh;
	text-align: center;
}
#h2{
	width:40%;
	float:left;
	height: 8vh;
		text-align: center;
}
main{
	clear:both;
	margin: 0 auto;
	height: 92vh;
}

form{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 15vh auto;

}

.authb{
	width: 20vw;
	height: 5vh;
	display: block;
	margin: 0 auto;
	font-size: 150%;
	border-radius: 10%;
}
label{
 width: 20vw;
 margin: 0 auto;
 padding-bottom: 2%;
}
#auth1{
	width: 40vw;
	height: 60vh;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 10vh 0vw 10vh 5vw;
}
#auth2{
	width: 40vw;
	height: 60vh;
	text-align: center;
	display: flex;
	flex-direction: column;
		margin: 10vh 5vw 10vh 0vw;
}

ul, #auth2 > h2{
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 10vh auto;
}
